<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="Headless" value="false"/>
		<Parameter name="BrowserType" value="Chrome"/>
		<Parameter name="ImplicityWait" value="10"/>

		<Parameter name="StandartUserMail" value="adduser@mail.ru"/>
		<Parameter name="StandartUserPassword" value="psw_psw"/>
		
		<Parameter name="PostalCode" value="00000"/>		
	</TestRunParameters>
</RunSettings>
